### <div id="py"> Introduction To Python (Basics) </div>

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/python-logo.png?raw=1" alt="Python" style="width: 500px;"/>

Python is a

- general purpose programming language
- interpreted, not compiled
- both **dynamically typed** _and_ **strongly typed**
- supports multiple programming paradigms: object oriented, functional
- comes in 2 main versions in use today: 2.7 and 3.x

## Python's Interactive Console : The Interpreter

***
- The Python interpreter is a console that allows interactive development
- We are currently using the Jupyter notebook, which uses an advanced Python interpreter called IPython
- This gives us much more power and flexibility

**Let's try it out !**

In [ ]:
print("Hello Data World!") #As usual with any language we start with with the print function

Hello Data World!

# What are we going to learn today?
***
- CHAPTER 1 - **Python Basics**
     - **Strings**
      - Creating a String, variable assignments
      - String Indexing & Slicing
      - String Concatenation & Repetition
      - Basic Built-in String Methods
     - **Numbers**
      - Types of Numbers
      - Basic Arithmetic
      


- CHAPTER 2 - **Data Types & Data Structures**
     - Lists
     - Dictionaries
     - Sets & Booleans


- CHAPTER 3 - **Python Programming Constructs**
     - Loops & Iterative Statements
      - if,elif,else statements
      - for loops, while loops
     - Comprehensions
     - Exception Handling
     - Modules, Packages,
     - File I/O operations

In [ ]:
#Your turn print = "Hello Data Science World!"
print("Hello Data Science World!")

Hello Data Science World!

Double-click __here__ for the solution.
<!--The correct answer is:
print("Hello Data Science World!")
-->

# CHAPTER - 1 : Python Basics
***
Let's understand
- Basic data types
- Variables and Scoping
- Modules, Packages and the **`import`** statement
- Operators

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/py.png?raw=1" id="string" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>

<br />

# Strings
***

Strings are used in Python to record text information, such as name. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "Python' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/python_string.png?raw=1" id="string" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>

<br />

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.
In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

### Creating a String


To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
print('hello')

print() # Used to have a line space between two sentences. Try deleting this line & seeing the difference.

# Entire phrase
print('This is also a string')

hello

This is also a string

In [ ]:
#print your name here
print("darshil parmar")

darshil parmar



## Variables : Store your Value in me!
***

In the code below we begin to explore how we can use a variable to which a string can be assigned. This can be extremely useful in many cases, where you can call the variable instead of typing the string everytime. This not only makes our code clean but it also makes it less redundant.
Example syntax to assign a value or expression to a variable,

variable_name = value or expression

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/variable.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="300" height="100"/>
<br />

Now let's get coding!!. With the below block of code showing how to assign a string to variable.



### String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/indexing.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="300" height="200"/>
<br />

In Python, we use brackets [] after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called s and the walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Hello World'

In [ ]:
print(s[2])

l

In [ ]:
# Print the object
print(s)

print()

# Show first element (in this case a letter)
print(s[0])

print()

# Show the second element (also a letter)
print(s[1])

Hello World

H

e

In [ ]:
#Your turn
#print 'l' character from the string
#print 'd' character from the string

Double-click __here__ for the solution.
<!--The correct answer is:
print(s[2])
print(s[10])
-->



# String Concatenation and Repetition

***
**String Concatenation** is a process to combine two strings. It is done using the '+' operator.
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/string_concat.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="300" height="200" />
<br />

**String Repetition** is a process of repeating a same string multiple times

The examples of the above concepts is as follows.

In [ ]:
# concatenation (addition)

s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [ ]:
# repetition (multiplication)

print("Hello_" * 5)
print("-" * 10)

Hello_Hello_Hello_Hello_Hello_
----------

In [ ]:
print("darshil " * 10)

darshil darshil darshil darshil darshil darshil darshil darshil darshil darshil

In [ ]:
#Print 'Data' 15 times

Double-click __here__ for the solution.
<!--The correct answer is:
print("Data" * 15)
-->



## String Slicing & Indexing
***
**String Indexing** is used to to select the letter at a particular index/position.

**String Slicing** is a process to select a subset of an entire string

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/string-slicing-in-python.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="300" height="100"/>
<br />

The examples of the above stated are as follows

In [1]:
s = "Namaste World"

# print sub strings
print(s[1])     #This is indexing.
print(s[8:12])  #This is known as slicing.
print(s[-5:])

# test substring membership
print("World" in s)

a
Worl
World
True

In [ ]:
s[-9:-4]

'ste W'

In [ ]:
#Print "World" from string
#Print "ste" from the string

Double-click __here__ for the solution.
<!--The correct answer is:
print(s[8:])
print(s[4:7])
-->

Note the above slicing. Here we're telling Python to grab everything from 6 up to 10 and from fifth last to second last. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

## Basic Built-in String methods

***
Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
s = "Hello World"

print(s.upper()) ## Convert all the element of the string to Upper case..!!
print(s.lower()) ## Convert all the element of the string to Lower case..!!

HELLO WORLD
hello world

In [ ]:
print(type(s))

<class 'str'>

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [ ]:
name = "Einstein"
age = 22
married = True

print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))

print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

In [ ]:
print(f"My name is {name}, my age is {age}")

My name is Einstein, my age is 22

### Mini Challenge
***

Its your turn now!! store the word `hello` in my_string. print the my_string + name.

In [ ]:
#Write your solution here

Double-click __here__ for the solution.
<!--The correct answer is:
my_string = "hello"
print(my_string + name)
-->



# Numbers
***
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/numbers.png?raw=1" id="numbers" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br />
Having worked with string we will turn our attention to numbers
We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Object Assignment in Python

## Types of numbers
***
Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th>
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td>
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td>
    <td>Floating-point numbers</td>
</tr>
 </table>

Now let's start with some basic arithmetic.

## Basic Arithmetic

In [ ]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

3
1
4
1.5

## Arithmetic continued

In [ ]:
# Powers
2**4

16

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

In [ ]:
# multiply 15 by 2 and add 10 to it

Double-click __here__ for the solution.
<!--The correct answer is:
(15*2) + 10
-->

## Variable Assignments
***
Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.



The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+


Using variable names can be a very useful way to keep track of different variables in Python.

In [ ]:
count = 5

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [ ]:
a

5

In [ ]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [ ]:
# Reassignment
a = 10

In [ ]:
a

10

In [ ]:
# Check
a+a

20

### Mini Challenge
***

**Its your turn now!!!** given the numbers stored in variables `a` and `b`. Can you write a simple code to compute the mean of these two numbers and assign it to a variable `mean`.

In [ ]:
#write your code here

Double-click __here__ for the solution.
<!--The correct answer is:
mean  = (a+b)/2
print(mean)
-->

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/py.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br />

#  CHAPTER - 2 : Data Types & Data Structures
***
- Everything in Python is an "object", including integers/floats
- Most common and important types (classes)
    - "Single value": None, int, float, bool, str, complex
    - "Multiple values": list, tuple, set, dict

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/datatypes.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width='500' height='200'/>
<br />

- Single/Multiple isn't a real distinction, this is for explanation
- There are many others, but these are most frequently used

### Identifying Data Types

In [ ]:
a = 42
b = 32.30
c = "Hello"
d = True
print(type(a))#gets type of a
print(type(b))#gets type of b
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
10 == 10

True



# Lists
***
Lists can be thought of the most general version of a *sequence* in Python.

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions
    
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/python-list.jpeg?raw=1" id="list" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="400" height="200"/>
<br />

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = [1,2,3,4,5,6,7]

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 7]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

7

In [ ]:
#Create a list which includes a numbers, floating point, strings and character

Double-click __here__ for the solution.
<!--The correct answer is:
my_list = ['A string',23,100.232,'o']
-->



### Adding New Elements to a list
***
We use two special commands to add new elements to a list. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

In [ ]:
my_list.append("six")

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'six']

In [ ]:
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [ ]:
l = [1, 2, 3]

In [ ]:
my_list[3]

4

In [ ]:
l.append([4,5,6,7])

In [ ]:
l.extend([4,5,6,7])

In [ ]:
l

[1, 2, 3, [4, 5, 6, 7], 4, 5, 6, 7]

In [ ]:
# extend a list with another list.
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

In [ ]:
#append '5' to the list

Double-click __here__ for the solution.
<!--The correct answer is:
l.append(5)
print(l)
-->

In [ ]:
[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend a list with another list.

## Slicing
***
Slicing is used to access individual elements or a rage of elements in a list.

Python supports "slicing" indexable sequences. The syntax for slicing lists is:

- `list_object[start:end:step]` or
- `list_object[start:end]`

start and end are indices (start inclusive, end exclusive). All slicing values are optional.

In [ ]:
l = list(range(10))

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l[0:10:3]

[0, 3, 6, 9]

In [ ]:
lst = list(range(10)) # create a list containing 10 numbers starting from 0
print(lst)

print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2]) # prints elements from index 0 till last index with a step of 2
print("every third element, starting at index 1:", lst[1::3]) # prints elements from index 1 till last index with a step of 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l.insert(0,"darshil")

In [ ]:
l

['darshil', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<div class="alert alert-block alert-success">**Other `list` operations**</div>

***
- **`.append`**: add element to end of list
- **`.insert`**: insert element at given index
- **`.extend`**: extend one list with another list

### Mini Challenge
***
Now that you have understood how to access elements in a list. Can you access the last element of l which is a list and find the last element of that list.

In [ ]:
l = [1, 2.3, ['a', 'b'], 'New York']

In [ ]:
#print Last element of the list

Double-click __here__ for the solution.
<!--The correct answer is:
print(l[-1])
-->



# Dictionaries
***
Now we're going to switch gears and learn about *mappings* called *dictionaries* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/dictionaries-in-python.jpeg?raw=1" id = "dict" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px" width="400" height="200"/>
<br />

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

We can effect the values of a key as well. For instance:

In [ ]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [ ]:
my_dict['key1'] - 123

0

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

0

In [ ]:
my_dict

{'key1': 0, 'key2': 'value2'}

In [ ]:
my_new_dict = {'name': ["darshil", 'jac', 'rahul'], "surname": ["parmar",'asd','asdas'], "age": [25,26,27]}

In [ ]:
my_new_dict['name'][-1]

'rahul'

In [ ]:
my_new_dict['country'] = ['india', 'us', 'india']

In [ ]:
my_new_dict

{'name': ['darshil', 'jac', 'rahul'],
 'surname': ['parmar', 'asd', 'asdas'],
 'age': [25, 26, 27],
 'country': ['india', 'us', 'india']}

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
my_dict['key1'] = my_dict['key1'] + 123

In [ ]:
# Set the object equal to itself minus 123
my_dict['key1'] += 123
my_dict['key1']

246

Now its your turn to get hands-on with Dictionary, create a empty dicts. Create a new key calle animal and assign a value 'Dog' to it..

In [ ]:
# Create a new dictionary
d = {}
# Create a new key through assignment
d['animal'] = 'Dog'

# Set and Booleans
***
There are two other object types in Python that we should quickly cover. Sets and Booleans.

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

#### Set Theory
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/sets2.png?raw=1" width="40%"/>

In [ ]:
l = [1,1,1,1,1,2,3,3,3]

In [ ]:
l

[1, 1, 1, 1, 1, 2, 3, 3, 3]

In [ ]:
l_sets = set(l)

In [ ]:
l_sets

{1, 2, 3}

In [ ]:
x = set()

# We add to sets with the add() method
x.add(1)

#Show
x

{1}

In [ ]:
x.add(2)

In [ ]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [ ]:
# Add a different element
x.add(2)

#Show
x

{1, 2}

In [ ]:
# Try to add the same element
x.add(3)

#Show
x

{1, 2, 3}

In [ ]:
#Try adding 2 to x

Double-click __here__ for the solution.
<!--The correct answer is:
x.add(2)
print(x)
-->

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}


# Python Tuples
***
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(type(thistuple))

<class 'tuple'>

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple[3])

apple

<img src='https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/data_struc.png?raw=1' width="800">


# Python Programming Constructs
***
We'll be talking about
- Conditional Statements
- Looping
- Comprehensions

# If,elif,else Statements

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else if another case happens, perform some other action. Else-- none of the above cases happened, perform this action"

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/python-if-else.png?raw=1" width="50%"/>

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else:
        perform action 3

In [ ]:
a = 4
b = 2

In [ ]:
a > b

True

In [ ]:
if a > b {
    asdasd

}
else{
    asdasd

}

SyntaxError: invalid syntax (3828271936.py, line 1)

In [ ]:
if a > b:
    print("a is greater than b")
elif b > a:
    print("b is greater than a")
else:
    print("a and b are equal")
    print("asdas")

In [ ]:
a = 6
b = 2

if a > b:
    print("a is greater than b")
elif b > a:
    # we are inside the elif block
    print("b is greater than a")
else:
    # we are inside the else block
    print("a and b are equal")

### Indentation
***
It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

# For Loops
***
A **for** loop acts as an iterator in Python, it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

We've already seen the **for** statement a little bit in past lectures but now lets formalize our understanding.

Here's the general format for a **for** loop in Python:

    for item in object:
        statements to do stuff
        
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/forloop.jpeg?raw=1" width="40%"/>        

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside you loop, for example if you wanted to use if statements to perform checks.

Let's go ahead and work through several example of **for** loops using a variety of data object types.

In [ ]:
users = list(range(10))

In [ ]:
users

In [ ]:
for user in users:
    print(f"This is my {user} user")

In [ ]:
27 % 9

In [ ]:
#Simple program to find the even numbers in a list

list_1 = [2,4,5,6,8,7,9,10] # Initialised the list

for number in list_1:          # Selects one element in list_1
    if number % 2 == 0:        # Checks if it is even. IF even, only then goes to next step else performs above step and continues iteration
        print(f"This is an even number {number}")  # prints no if even. end=' ' prints the nos on the same line with a space in between. Try deleting this command & seeing the difference.
    else:
        print(f"This is an odd number {number}")

Now its time for you to code again can you create a list of 10 numbers iterate through the list and print the square of each number.

In [ ]:
#Write your "for_loop" and print all elements
list_1 = [2,4,5,6,8,7,9,10]

Double-click __here__ for the solution.
<!--The correct answer is:
for l in list_1:
    print(l)
-->


# While loops
***
The **while** statement in Python is one of most general ways to perform iteration. A **while** statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statement
    else:
        final code statements
        
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/whileloop.png?raw=1" width="30%"/>
<br />


Lets look at a few simple while loops in action.

In [ ]:
x = 11

while x > 10:
    print ('x is currently: ',x,end=' ') #end=' ' to put print below statement on the same line after thsi statement
    print (' x is still less than 10, adding 1 to x')
    x = x - 1 # this adds 1 to x

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/py.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br />

## Modules, Packages, and `import`
***
A module is a collection of functions and variables that have been bundled together in a single file. Module helps us:
- Used for code organization, packaging and reusability
- Module: A Python file
- Package: A folder with an ``__init__.py`` file
- Namespace is based on file's directory path

Module's are usually organised around a theme. Let's see how to use a module. To access our module we will import it using python's import statement. Math module provides access to the mathematical functions.

In [ ]:
# import the math module
import math

# use the log10 function in the math module
math.pow(2,3)

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/py.png?raw=1" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br />

### Mini Challenges
***
Can you compute the square of a 3 assigned to a variable a using the math module?

In [ ]:
#wite your code

Double-click __here__ for the solution.
<!--The correct answer is:
math.pow(3,2)
-->

## Comprehensions
***
- Python provides syntactic sugar to write small loops to generate lists/sets/tuples/dicts in one line
- These are called comprehensions, and can greatly increase development speed and readability

Syntax:
```
    sequence = [expression(element) for element in iterable if condition]
```

The brackets used for creating the comprehension define what type of object is created.

Use **[ ]** for lists, **()** for _generators_, **{}** for sets and dicts

### `list` Comprehension

In [ ]:
names = ["Ravi", "Pooja", "Vijay", "Kiran"]
names

In [ ]:
new_list = []
for name in names:
    new_list.append("Hello " + name)

In [ ]:
new_list

In [ ]:
names = ["Ravi", "Pooja", "Vijay", "Kiran"]
hello = ["Hello " + name for name in names]
print(hello)

In [ ]:
numbers = [55, 32, 87, 99, 10, 54, 32]
even = [num for num in numbers if num % 2 == 0]
print(even)

odd_squares = [(num, num * num) for num in numbers if num % 2 == 1]
print(odd_squares)

## Exception Handling
***
#### try and except

The basic terminology and syntax used to handle errors in Python is the **try** and **except** statements. The code which can cause an exception to occue is put in the *try* block and the handling of the exception is the implemented in the *except* block of code. The syntax form is:

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/try_except_else_finally.webp?raw=1" width="50%">

We can also just check for any exception with just using except: To get a better understanding of all this lets check out an example: We will look at some code that opens and writes a file:

In [ ]:
print(asdasd)

In [ ]:
print('hello world')

try:
    1 / 0
except ZeroDivisionError:
    print('exception occured')

print('bye world')

In [ ]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print('divided by zero')
    print('executed when exception occurs')

In [ ]:
l[15]

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/exception.png?raw=1" width="50%">



## File I/O : Helps you read your files
***
- Python provides a `file` object to read text/binary files.
- This is similar to the `FileStream` object in other languages.
- Since a `file` is a resource, it must be closed after use. This can be done manually, or using a context manager (**`with`** statement)

<div class="alert alert-block alert-info">Create a file in the current directory</div>

In [ ]:
with open("myfile.txt",'w') as f:
    f.write("This is my file \n")
    f.write("Second line \n")

In [ ]:
with open('myfile.txt', 'w') as f:
    f.write("This is my first file!\n")
    f.write("Second line!\n")
    f.write("Last line!\n")


# let's verify if it was really created.
# For that, let's find out which directory we're working from
import os
print(os.path.abspath(os.curdir))

<div class="alert alert-block alert-info">Read the newly created file</div>

In [ ]:
with open("myfile.txt",'r') as f:
    for line in f:
        print(line)

In [ ]:
f.close()

In [ ]:
# read the file we just created
with open('myfile.txt', 'r') as f:
    for line in f:
        print(line)

### Mini Challenge - 5
***
Can you create a list of 10 numbers iterate through the list and print the square of each number ?

In [ ]:
# Kerjakan disini

# In-session Recap Time
***
* Python Basics
    * Variables and Scoping
    * Modules, Packages and Imports
    * Data Types & Data Structures
    * Python Programming Constructs
* Data Types & Data Structures
    * Lists
    * Dictionaries
    * Sets & Booleans
* Python Prograamming constructs
    * Loops and Conditional Statements
    * Exception Handling
    * File I/O

# Thank You
***