# Introduction to
***
![Pandas_logo](https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/pandas.png?raw=1)
Image source:https://en.wikipedia.org/wiki/Pandas_(software)
***
The most widely used Python library for data science

It has nothing to do with cute bears. Instead it stands for **Pan**el **da**ta - **Pandas**
***
![cute_pandas](https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/cute_pandas.jpg?raw=1)
Image source:https://wallpaper-house.com/wallpaper-id-399850.php



## Why Pandas ?
***
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/why-pandas.jpg?raw=1" width="70%"/>



## Features of Pandas
***
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/pandas-features.jpg?raw=1" width="70%"/>


# Pandas Data Structures
***
<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/pandas-datastructures.jpg?raw=1" width="70%"/>



# Pandas Series
***
* Very similar to a NumPy array.

* What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location.



## How to create a Series?
***
You can convert a list, numpy array, or dictionary to a Series. To create a series you call the function pd.Series(). Let's see an example of the same.

We will create a series from
- list
- numpy array
- dictionary

In [1]:
import pandas as pd

In [2]:
my_list = [10, 20, 30]

In [3]:
series = pd.Series(my_list)

In [4]:
series.values

array([10, 20, 30])

In [5]:
#creating a pandas series from a list
import pandas as pd

my_list = [10, 20, 30]
series = pd.Series(my_list)

print(series)
print(series.index)
print(series.values)

0    10
1    20
2    30
dtype: int64
RangeIndex(start=0, stop=3, step=1)
[10 20 30]

In [6]:
# creating a series from numPy Array
import numpy as np
import pandas as pd

index = ['a','b','c']
arr = np.array([10,20,30])

pd.Series(data=arr,index=index)

a    10
b    20
c    30
dtype: int64

In [7]:
# creating a series from dictionary
import pandas as pd

d = {'a':10, 'b':20, 'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64


## Using Index in a Series
***
* The key to using a Series is understanding its index.

* Pandas makes use of these index names or numbers by allowing for **fast lookups** of information (works like a hash table or dictionary).

In [8]:
# Custom index
import pandas as pd
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany','USSR', 'Japan'])
ser2 = pd.Series([1,2,5,4], index=['USA', 'Germany','Italy', 'Japan'])

# get the value of 'USA'
print(ser1['USA'])

1

In [9]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [10]:
print(ser1 + ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# DataFrame Basics

***

We'll talk about
- How to create a DataFrame, the primary data structure in pandas
- How to find the shape and rank of the created or existing DataFrames
- How to read DataFrames from a file
- What are indexes, and how do they work in the domain of Pandas DataFrames

## What are DataFrames?

***

DataFrames are a way to store data in rectangular grids that can easily be overviewed. Each row of these grids corresponds to measurements or values of an instance, while each column is a vector containing data for a specific variable. This means that a data frame’s rows do not need to contain, but can contain, the same type of values: they can be numeric, character, logical, etc.
<br> </br>

Data frames in Python come within the Pandas library, and they are defined as a two-dimensional labeled data structures with columns of potentially different types.
<br> </br>

In general, you could say that the Pandas data frame consists of three main components: the data, the index, and the columns.

**Creating DataFrames manually**

The function that you will use is the Pandas Dataframe() function: it requires you to pass the data that you want to put in, the indices and the columns.

Remember that the data that is contained within the data frame doesn’t have to be homogenous.

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[1, 2, 3],
                   [3, 4, 5],
                   [5, 6, 7],
                   [7, 8, 9]])
df

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

In [12]:
df = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]])

print("Shape:", df.shape)
print("Index:", df.index)

df

Shape: (4, 3)
Index: RangeIndex(start=0, stop=4, step=1)

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9

**Understanding the Index**

Before you start with adding, deleting and renaming the components of your DataFrame, you first need to know how you can select these elements.

This is where Indexes come into play, just the way you can use an idex page in a book to locate your chapters, you can use the loc() or iloc() function in pandas to access data in particular columns of your DataFrame.

We will learn about how these functions work and their subtle differences in the next sections.

In [13]:
df2 = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]],
                  index= ['a','b','c','d'], columns=['x','y','z'])

In [14]:
df2

   x  y  z
a  1  2  3
b  3  4  5
c  5  6  7
d  7  8  9

In [15]:
df2 = pd.DataFrame([[1, 2, 3], [3, 4, 5], [5, 6, 7], [7, 8, 9]],
                   index=['a', 'b', 'c', 'd'], columns=['x', 'y', 'z'])

print("Shape:", df.shape)
print("Index:", df.index)

df2

Shape: (4, 3)
Index: RangeIndex(start=0, stop=4, step=1)

   x  y  z
a  1  2  3
b  3  4  5
c  5  6  7
d  7  8  9

# The Weather Dataset: Reading DataFrames from Files
***
The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure, and Conditions.

<img src="https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/weather.jpg?raw=1" alt="Weather" style="width: 200px;"/>

This data is available as a CSV file. We are going to use Pandas DataFrames and analyse this dataset.

In [16]:
# Read the data into a data frame

weather_df = pd.read_csv("data/weather_2012.csv") #

print("Shape:", weather_df.shape)
print("Index:", weather_df.index)

FileNotFoundError: [Errno 2] No such file or directory: 'data/weather_2012.csv'

In [ ]:
weather_df.head()

In [ ]:
weather_df['Date/Time'].head()

**Let's convert the `Date/Time` column datatype from `object` to `timestamp` so that we can access the month directly using the attribute `dt.month`**

In [ ]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])

In [ ]:
weather_df['Date/Time'].head()



# How to Analyze DataFrames?
***
The following functions help you understand and explore summaries of your data without having to view the whole DataFrame

## `.info()`
***
Provides a summary of a DataFrame: rows, columns, data types of columns (if automatically detected) and the memory usage.

For detailed summaries of the the DataFrame, you can pass optional arguments verbose=True and null_counts=True to the .info() method to output information for all of the columns

In [ ]:
weather_df.info() # Bring the cursor inside the brackets of info() and hit shift+tab & see what you get.
                  # This will work for any function in Pandas

## `.head()`
***
It is used to preview a part of a large DataFrame, similar to the linux `head` command. This reduces time and resources required if  whole DataFrame was to be fetched instead. Shows the first N rows in the data (by default, N=5).

In [ ]:
weather_df.head(5)

## `.index`
***
This attribute provides the `index` of the dataframe.

Indexing identifies data using known indicators that allows intuitive getting and setting of subsets of the data set.

A major advantage of Pandas over NumPy is that each of the columns and rows has a label. Working with column positions is possible, but it can be hard to keep track of which number corresponds to which column.

We can work with labels using the **pandas.DataFrame.loc** method, which allows us to index using labels instead of positions.

In [ ]:
weather_df.index

## `.unique()`
***
This method, which belongs to the `Series` object, can be useful when trying to identify unique values in a column.
- Uniques are returned in order of appearance.
- It is significantly faster than numpy.unique and includes N/A values

In [ ]:
weather_df['Weather']

In [ ]:
weather_df['Weather'].unique()


## Mini - Challenge - 1
***
Find all the unique Wind Speed values recorded in the dataset

## `.nunique()`
***
This method belongs to the `Series` object and can be useful when trying to identify the number of unique values in a column.
- Excludes NA values by default
- Always returns an integer value

In [ ]:
weather_df['Weather'].nunique()

## `.value_counts()`
***
This method, which belongs to the `Series` object, can be useful when trying to identify unique values and their counts in a column
- The resulting object will be in descending order so that the first element is the most frequently-occurring element.
- Excludes NA values by default.

In [ ]:
weather_df['Weather'].value_counts()



## Mini-Challenge - 2
***

Find the number of times when the weather was exactly 'Clear'


### How can we get the count for Clear ?
***

In order to get only the number of times when the weather was exactly 'Clear' , we need to used Square brackets after `.value_counts`
eg. `.value_counts()[3]`

## Mini-Challenge - 3
***
**Try one more time..!!**

Find the number of times when the wind speed was exactly 4 km/h


# Data Manipulation : Gets you desired results
***
The true power of the Pandas DataFrame is the ease and flexibility of manipulating data to get your desired results.

Pandas is best at handling tabular data sets comprising different variable types (integer, float, double, etc.).

In addition, the pandas library can also be used to perform even the most naive of tasks such as loading data or doing feature engineering on time series data.

## Selection (Part 1)
***
How do you select particular rows/columns from the DataFrame ?

The DataFrame object supports indexing operations just like the Python `list` class and the Pandas Series object, but is much faster and more powerful.

Note that when you extract a single row or column, you get a one-dimensional object as output. That is called a pandas Series. The values on the left are just labels taken from the dataframe index.

On the other hand, when we extract portions of a pandas dataframe, we get a two-dimensional DataFrame type of object. Something to keep in mind for later.

### How to get the Weather column from the "weather_df" dataframe

In [ ]:
col = weather_df['Weather']

print(type(col))
col.head()

### How to get the Weather and Temperature columns from the "weather_df" dataframe

In [ ]:
two_cols = weather_df[['Weather', 'Temp (C)']] # Take a good look at those brackets. There are two sets of them
                                               # to access more than one columns.
print(type(two_cols))
two_cols.head()

**Keep in mind Whenever you need to take more than two columns need to put double sqaure  like above example**

## **Get the first 25 rows from the "weather_df" dataframe**
***
**Important**: This slicing would work even if the row index had non-numeric labels, because slicing works here the same way as a list

In [ ]:
weather_df[:25]


**How to get the first 3 alternating rows from the "weather_df" dataframe, but only the Visibility and Relative Humidity columns**

In [ ]:
weather_df[['Date/Time','Visibility (km)']][0:10:2]

In [ ]:
# solution 1
result1 = weather_df[:6:2][['Rel Hum (%)', 'Visibility (km)']]

# solution 2
result2 = weather_df[['Rel Hum (%)', 'Visibility (km)']][:6:2]

# are they the same?
result1 == result2

#### So which of the two solutions should you use?
***
**Answer**: Neither. Because we're indexing more than once (Chained Indexing).
When you use chained indexing, the order and type of the indexing operation partially determine whether the result is a slice into the original object, or a copy of the slice.

Let's analyse (break down) one of the above solutions.

In [ ]:
# first indexing
df1 = weather_df[:6:2]

# second indexing
df2 = df1[['Rel Hum (%)', 'Visibility (km)']]

While both results are correct in this **read-only** case, chained indexing may give unpredictable behaviours when **writing** to a dataframe.

This is because indexing could either return a "view" (of slices of the dataframe), or a copy of the dataframe.

## Selection (Part 2)
***
Pandas provides a powerful way to work with both rows and columns together, optionally using their label indices or numeric indices.

- **`.loc :`**<br/>
Purely label-location based indexer for selection by label (but may also be used with a boolean array).<br/>
**Important: If you use slicing in loc, it will return the end index as well**
<br/><br/>

- **`.iloc:`**<br/>
Purely integer-location based indexing for selection by position (but may also be used with a boolean array).

Allowed inputs are:
- A single label, e.g. 5 or 'a'
- A list or array of labels, e.g. ['a', 'b', 'c']
- A slice object with labels, e.g. 'a':'f'

In [ ]:
weather_df.loc[0:5, ['Visibility (km)','Rel Hum (%)']]

In [ ]:
weather_df[['Visibility (km)','Rel Hum (%)']].iloc[0:5]


## Mini-Challenge - 4
***

Get the first 3 alternating rows from the `weather_df` dataframe, but only the Visibility and Relative Humidity columns

In [ ]:
# Using loc or iloc
# NOTE: slice is `:5:2`, not 6 !


## Filtering
***

![Filter](https://github.com/9uz/RPL23402/blob/master/project/kode/hand_on_practice1/images/filters1.jpg?raw=1)
Image Source:https://pixabay.com/en/yashica-filter-camera-vintage-711794/
<br/>

Anything that takes in data, processes it, and provides an output

Input Data ⟶ Filter ⟶ Output Data

Filtering rows of a DataFrame is an almost mandatory task for Data Analysis with Python. Given a Data Frame, we may not be interested in the entire dataset but only in specific rows.

### Find all instances when snow was recorded
***
Whether or not it snowed can be found out using the Weather column.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

In [ ]:
weather_df['Weather'].unique()

In [ ]:
snowed_filter = weather_df['Weather'].str.lower().str.contains('snow')

In [ ]:
snowed_filter

In [ ]:
weather_df[snowed_filter]

In [ ]:
# Basically, we want a way to "filter out" records that have the word "snow" (case insensitive) in the last column

snowed_filter = weather_df['Weather'].str.lower().str.contains('snow')
weather_df[snowed_filter]

**Find all instances when wind speed was above 24 and visibility was 25**

In [ ]:
df = weather_df[(weather_df['Wind Spd (km/h)'] > 24) & (weather_df['Visibility (km)']== 25)]
df.head()

## Summary / Cheatsheet: Selection/Indexing/Filtering
***
This is a handy reminder for what syntax will get what result.

Syntax | Function | Remarks
:--- | :--- | :---
**`df['some_label']`** |  Get the (single) Column referenced by name `some_label` | A **str** is provided
**`df[['label1', 'label2']]`** | Get multiple columns referenced by given names | A **list** is provided
**`df[start:end:step]`** | Get corresponding rows (same as list slicing) | A **slicing operator**<br/> is provided
**`df[boolean array/df]`** | Get corresponding rows (same as list slicing) | A **filter object** is provided
**`df.loc [row_sel, col_sel]`** | Select specified rows and columns (by labels) |
**`df.iloc[row_sel, col_sel]`** | Select specified rows and columns (by index) |


## Working with Columns
***
- We will learn how to carry out Series operations on DataFrame Columns
- How to add or update columns within a DataFrame
- How to rename specific columns
- How to delete or drop a column that is no longer required for analysis

### Series Operations
***
A series is a one-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).

Operations between Series (+, -, /, , *) align values based on their associated index values– they need not be the same length. The result index after operation will be the sorted union of the two indexes.

Add 10 to the values in the column "Wind Spd (km/h)" using the "+" operator

In [ ]:
weather_df["Wind Spd (km/h)"].head() * 2 / 4

In [ ]:
add_10 = weather_df["Wind Spd (km/h)"] + 10
add_10.head()

Multiply the values in the 'Visibility (km)' column by 2 using the asterisk (*) operator

In [ ]:
mult_2 = weather_df['Visibility (km)'] * 2
mult_2.head()

Add the "Temp (C)" and "Dew Point Temp (C)" columns as series "temperature"

THis can be done by simply passing the column names and using the "+" operator

In [ ]:
weather_df['new_temp_col'] = weather_df["Temp (C)"] + weather_df["Dew Point Temp (C)"]

In [ ]:
weather_df.head()

In [ ]:
temperature = weather_df["Temp (C)"] + weather_df["Dew Point Temp (C)"]
temperature.head()

## Apply / Call Functions

## `.apply()`
***

You can pass any number of arguments to the function that apply is calling through either unnamed arguments, passed as a tuple to the args parameter, or through other keyword arguments internally captured as a dictionary by the kwds parameter.

Invoke function on values of Series. Can be a NumPy function that applies to the entire Series or a Python function that only works on single values

In [ ]:
# Applying custom functions

def times2(value):
    return value * 2

In [ ]:
weather_df['Visibility (km)'].head()

In [ ]:
weather_df['Visibility (km)'].apply(times2).head()

## `.describe()`
***

The above function is used to summarize the  central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.

In [ ]:
weather_df['Visibility (km)'].describe()

### Adding/Updating Columns

In [ ]:
weather_df["Visibility (m)"] = weather_df["Visibility (km)"] * 1000

In [ ]:
visibility_in_meter = weather_df["Visibility (km)"] * 1000
weather_df["Visibility (m)"] = visibility_in_meter

weather_df.head()

### Renaming Columns

## `.rename()`
***

Alter Series index labels or name. It will replace the existing names with the names you provide, in the order you provide.

You can also assign the names by index.

The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [ ]:
# Notice the "inplace=True" parameter. This means the renaming has been assigned in the old DataFrame itself

weather_df.rename(columns={'Visibility (m)': 'Visibility (meters)'}, inplace=True)
weather_df.head()

### Deleting Columns

## `.drop()`
***

Return new object with labels in requested axis removed.

Note that Pandas uses zero based numbering, so 0 is the first row, 1 is the second row, etc.
You can select ranges relative to the top or drop relative to the bottom of the DataFrame as well.

- Note: Specifying both labels and index or columns will raise a ValueError.

In [ ]:
# Since we have not mentioned inplace=True, it returns a new dataframe.
weather_df.drop(labels=['Visibility (meters)'], axis=1)



## Sorting
***

## `.sort_values()`
***

Sort by the values along either axis, in a user specified order. The order can be specified by selecting true or false for the "ascending" parameter.

In [ ]:
sorted_by_temp = weather_df.sort_values('Temp (C)', ascending=False)  # can be inplace as well
sorted_by_temp.head()

### Which were the top 10 hottest values and their counts?

In [ ]:
sorted_value_counts = weather_df['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_value_counts.iloc[:10]

In [ ]:
# One Solution
mean_temperatures = {}

for month in range(1, 13):
    mean_temperatures[month] = weather_df.loc[weather_df['Date/Time'].dt.month == month, 'Temp (C)'].mean()

pd.Series(mean_temperatures)


# Pivot Tables : Excellent way to Summarize your Data!
***
- A pivot table is a tool that allows you to reorganize and summarize selected columns and rows of data in a dataframe <br/><br/>

- Pivot tables provide an easy way to subset by one column and then apply a calculation like a sum or a mean <br/><br/>

- Pivot tables first groups and only then applies a calculation

In [ ]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}

df = pd.DataFrame(data)
df

In [ ]:
pivot_df = df.pivot_table(
                values='D',      # We want to aggregate the values of which column?
                index='A',       # We want to use which column as the new index?
                columns=['C'],   # We want to use the values of which column as the new columns? (optional)
                aggfunc=np.sum)  # What aggregation function to use ?


pivot_df

In [ ]:
# convert it back to a simple index

pivot_df.reset_index()

### What is the mean temperature recorded by month?

In [ ]:
weather_df[['Temp (C)','Date/Time']]

In [ ]:
weather_df['Date/Time'].dt.month

In [ ]:
mean_temperature_df = weather_df.pivot_table(values='Temp (C)', index=weather_df['Date/Time'].dt.month, aggfunc=np.mean)
mean_temperature_df # the numbers 1 to 12 denote the respective months from January to December.


# Group By
***
The groupby method allows you to group rows of data together and call aggregate functions that applies to the whole group.

Any groupby operation involves one of the following operations on the original object. They are −
- Splitting the Object
- Applying a function
- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- Aggregation − computing a summary statistic
- Transformation − perform some group-specific operation
- Filtration − discarding the data with some condition

In [ ]:
weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index()

In [ ]:
mean_temperature_df2 = weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index()
mean_temperature_df2


# Concat, Merge and Join
<br/>

***
There are 3 key ways of combining DataFrames together:

- **Concatenation**: Concatenation glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on <br/><br/>
- **Merging**: The merge function allows you to merge DataFrames together using a similar logic as merging SQL Tables together<br/><br/>
- **Join**: Join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame

In [ ]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# if you don't specify an axis, it defaults to axis=0, which means it appends to rows
pd.concat([df1, df2, df3])

In [ ]:
# axis=1 means concat along columns

pd.concat([df1, df2, df3], axis=1)

## Join
***
Simply join two DFs having potentially different row indices

You can do both inner as well as outer joins using the join function in pandas
- Parameters {‘inner’, ‘outer’}, default ‘outer’. Outer for union and inner for intersection.

In [ ]:
# Join
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2'])

right_df = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

In [ ]:
left_df

In [ ]:
right_df

In [ ]:
left_df.join(right_df, how='outer')

In [ ]:
left_df.join(right_df, how='inner')

## Merge

Many a times you will be working with multiple dataframes all at once.

The merge function allows them to be combined into a single data frame

In [ ]:
# Merging on multiple keys
left = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

right = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

In [ ]:
left

In [ ]:
right

In [ ]:
# other options are 'inner', 'left', 'right'
pd.merge(left, right, how='left', on=['key1', 'key2'])

# Further Reading
***
- Pandas documentation: http://pandas.pydata.org/
- 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Cookbook- Useful Pandas Recipes: https://pandas.pydata.org/pandas-docs/stable/cookbook.html
- Pandas and Python Top 10: http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/
- Intro to Pandas Data Structures: http://www.gregreda.com/2013/10/26/